.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px 50px;
}

.project-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.image-overlay {
    overflow: hidden;
    border-radius: 20px;
}
.project-item {
  width: 280px;
  background-color: hsla(54.6, 100%, 50%, 0.9);
  padding: 20px 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-list img {
  border-radius: 20px;
  width: 240px;
  height: 200px;
}

.project-list img:hover {
    transition: all;
    transform: scale(1.1);
}

.project-description {
  width: 240px;
  margin-top: 5px;
}

h6 {
  font-size: 11px;
}

.project-btn {
  font-size: 11px;
}

.project-btn {
  appearance: button;
  background-color: #1652f0;
  border: 1px solid #1652f0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  padding: 3px;
}

.project-btn:disabled {
  opacity: 0.5;
}

.project-btn:focus {
  outline: 0;
}

.project-btn:hover {
  background-color: #0a46e4;
  border-color: #0a46e4;
}

.project-btn:active {
  background-color: #0039d7;
  border-color: #0039d7;
}

