.books {
  padding: 30px;
}
.top-five {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  padding: 20px 10px;
}

.books-topic {
  text-align: center;
  margin: 5px auto;
}
.image-container {
  position: relative;
}
.image-container img {
  width: 150px;
  height: 220px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: hsla(70.6, 100%, 50%, 1);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: 0.5s ease;
}

.image-container:hover .overlay {
  width: 100%;
}

.book-info {
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.button {
  text-align: center;
}
.recommendation-btn {
  appearance: button;
  background-color: #1652f0;
  border: 1px solid #1652f0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  margin-top: 10px;
}

.recommendation-btn:disabled {
  opacity: 0.5;
}

.recommendation-btn:focus {
  outline: 0;
}

.recommendation-btn:hover {
  background-color: #0a46e4;
  border-color: #0a46e4;
}

.recommendation-btn:active {
  background-color: #0039d7;
  border-color: #0039d7;
}

@media screen and (max-width: 768px) {
  .top-five {
    padding: 10px 5px;
    gap: 1rem;
  }
  .image-container img {
    width: 120px;
    height: 160px;
    flex-wrap: flex-start;
  }

  .book-info {
    font-size: 10px;
  }
}
