.contacts {
    padding: 30px 10px;
}
.sub-title {
    text-align: center;
}
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-item {
  width: 300px;
  padding: 5px;
  margin: 10px;
  outline: none;
  border: 1px solid #00f;
  border-radius: 10px;
  font-size: 18px;
}

.contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
  appearance: button;
  background-color: #1652f0;
  border: 1px solid #1652f0;
  border-radius: 5px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  margin-top: 10px;
}

.btn:disabled {
  opacity: 0.5;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background-color: #0a46e4;
  border-color: #0a46e4;
}

.btn:active {
  background-color: #0039d7;
  border-color: #0039d7;
}


.alert {
    position: relative;
    text-align: center;
}